<!DOCTYPE html>

<html>

{{>head}}

<body>
	<div class="container">
		{{>header}}
		<p>Kevin Vo. It uses data from ..!</p>
		<img class="portrait" src="/img/me.png"> 
	{{>footer}}
	</div>

</body>

</html>